name: Windows gh-builder (ci)
on:
  pull_request:
    branches:
      - master
    paths:
      - "infra/containers/windows-gh-builder/*"
jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2
      - name: Build
        run: make build
        working-directory: infra/containers/windows-gh-builder
