name: Nightly win
on:
  schedule:
    - cron: "0 2 * * *"
  pull_request:
    branches:
    - master
jobs:
  build:
    runs-on: [self-hosted, Windows]

    steps:
      - uses: actions/checkout@v2
      # Try to build using powershell (it will take a while)
      - name: Build (win amd64)
        run: powershell  .\scripts\build.ps1
